.detail {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    h3 {
        color: yellowgreen;
        padding-bottom: 10px;
    }
    .info {
        display: grid;
        gap: 5px; 
        h2 {
            font-size: 30px;
        }
    }
    img {
        width: 45vw;
        margin: 0 auto;
        padding-bottom: 10px;
    }
}
